@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  background-color: gainsboro;
}

.container  {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger {
  width: 100px;
  height: 100px;
  background: mediumvioletred;
  color: ghostwhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
  animation: rotateLine 0.3s ease-in-out forwards;
}

.hamburger div {
  background-color: rebeccapurple;
  height: 10px;
  width: 70%;
  margin: auto;
}

li {
  list-style-type: none;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: rebeccapurple;
  text-shadow: 1px 1px 2px darkgrey;
}
a:hover {
  color: ghostwhite;

}

.top .middle .bottom::before,
.top .middle .bottom::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #fff;
    }


    .top .bottom ::before {
      transform: rotate(45deg);
      transform-origin: 50% 100%;
      left: 50%;
    }

    .top .bottom ::after {
      transform: rotate(-45deg);
      transform-origin: 50% 0%;
      left: 50%;
    }